.add-note {
    max-width: 500px;  
    min-height: 80px;
    background-color: white;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=text] {
    border: none;
    margin: 10px 0;
}

input[name="heading"] {
    font-weight: bold;
}

input[type=submit] {
    border: none;
    background-color: none;
    font-weight: bold;
    cursor: pointer;
    width: 80px;
    align-self: center;
}

@media only screen and (max-width: 920px) {
	.add-note {
		max-width: 100%;
		padding: 20px;
	}	
}
