.card {
    width: 500px;
    min-height: 120px;
    background-color: #3ecfbb;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);    
}

.heading {
    font-size: 18px;
}

.body {
    margin-top: 20px;
}