@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.container {
  width: 500px;
}

.centered {
  margin: auto;
}

@media only screen and (max-width: 920px) {
  .container {
    width: 100%;
  }
}